APP_NAME=Microservice Python - TP INF462
APP_DESCRIPTION=Microservice Python pour le traitement et l'analyse de documents
APP_VERSION=1.0.0
DEBUG=false
DATABASE_URL=sqlite:///./storage/app.db
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
MAX_UPLOAD_SIZE_MB=10
